
         <div itemscope itemtype="http://schema.org/Blog">
	 <%= Enum.map @content, fn(post) ->
	  """
	     #{post.content}
           """
          end %>
          </div>
	  <nav id="pagenavi">
	     <div class="center">
	         <%= @prev %>
                 <%= @next %>
             </div>
          </nav>
      </div>

