<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>This should be replaced by whats in site.yml</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="author" content="cyberdot">
    <meta name="description" content="All about .NET and new languages">

    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="canonical" href="http://cyberdot.co.uk/">
    <!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <!--Fonts from Google"s Web font directory at http://google.com/webfonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,400italic,600,700,800' rel='stylesheet' type='text/css'>
    <link href="/favicon.png" rel="shortcut icon">

    <%= @css %>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <%= @js %>
  </head>

  <body>
    <div class="container">
	<div class="left-col">
	   <div class="intrude-less">
	      <header id="header" class="inner">
		<div class="profilepic">
		   <img src="https://s.gravatar.com/avatar/b3dd849ea19378e310dc77a2110f17a2?s=80?s=160" alt="Profile Picture" style="width: 160px;" />
	
                </div>
	        <hgroup>
  		   <h1><a href="/">CYBERDOT</a></h1>
  		   <h2 class="sidenav">.NET and Elixir Development.</h2>
                </hgroup>
                <nav id="main-nav">
		   <ul class="main-navigation">
		     <li><a href="/about.html">about</a></li>
		     <li><a href="/blog/archives">archives</a></li>
		   </ul>
		   <section class="aboutme">
		     <p></p>
		   </section>

		</nav>
		<nav id="sub-nav">
		   <div class="social">		
			<a class="github" href="https://github.com/cyberdot" title="GitHub">GitHub</a>
		        <a class="rss" href="/blog.rss" title="RSS">RSS</a>
		   </div>
		</nav>
	     </header>				
	   </div>
	</div>   

        <div class="mid-col">
           <div class="mid-col-container">
           <div id="content" class="inner">   
           
           <%= @content %>

	      <footer id="footer" class="inner">
		 <p> Copyright &copy; 2015 - cyberdot.co.uk | Blog content licensed under the Creative Commons 
		     <a href="http://creativecommons.org/licenses/by/2.5/">CC BY 2.5</a> | 
		     Site design based on the <a href="https://github.com/shashankmehta/greyshade">Greyshade theme</a> under the 
		     <a href="http://sm.mit-license.org/">MIT license</a>
		</p>

		<script type="text/javascript">
		      var disqus_shortname = 'cyberdot';
		      
		    (function () {
		    
		      var countScript = document.createElement('script');
		      countScript.type = 'text/javascript';
		      countScript.async = true;
		      countScript.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
		      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(countScript);
		    }());
		</script>

		<script type="text/javascript">
		(function($){
			$('.fancybox').fancybox({
				'autoScale': true,
				'autoDimensions': false,
				'showCloseButton': true,
				'showNavArrows': false
			});
		})(jQuery);
		</script>
	     </footer>
	 </div>
	</div>
	</div>
    </div>
  </body>
</html>
